html
{
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce)
{
    html
    {
        scroll-behavior: auto;
    }
}

body > main
{
    padding-top: 0;
    padding-bottom: 0;
}

/* Home */
#cover
{
    height: calc(100vh - 50px);
    max-width: initial;
    background-color: #2293EC;
    position: relative;
}

#cover::after
{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/cover.png');
    background-repeat: no-repeat;
    background-position: 3em 3em;
    background-size: contain;
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#cover-content
{
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    border-top: 1px solid #CCCCCC;
}

#cover-content > *
{
    padding: 0;
    margin: auto;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
}

@media (min-width: 1200px)
{
    #cover-content > *
    {
        max-width: 800px;
    }
}

#cover-content .main-title
{
    margin-bottom: 1em;
    color: #444444;
    font-size: 2rem;
    font-weight: normal;
}

#cover-content p.download
{
    margin: 1em auto;
}

#cover-content p.download .button
{
    font-size: 1.5em;
    min-width: 150px;
}

#cover-content p.download .button:first-child
{
    margin-left: 0;
}

#cover-content p.download .button:last-child
{
    margin-right: 0;
}

#cover .next
{
    width: 100%;
    line-height: 0;
    margin: 0;
    font-size: 2em;
    text-align: center;
    color: #444444;
    padding: 0;
    margin: auto;
}

#cover-content a.button.try:hover
{
    color: #43a047;
    background-color: white;
}

#cover-content a.button.install:hover
{
    color: #2E6AB3;
    background-color: white;
}

#cover-content .next a
{
    color: #AAAAAA;
    text-decoration: none;
}

#cover-content .next a:hover,
#cover-content .next a:active,
#cover-content .next a:focus
{
    color: #444444;
}

main > div.features
{
    overflow: auto;
    max-width: none;
    width: 100%;
    min-height: 100px;
    padding: 2em;
    background-color: #F1F6F8;
    box-sizing: border-box;
}

main > div.features:nth-child(odd)
{
    background-color: transparent;
}

main > div.features > div
{
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
}

main > div.features .screenshot
{
    width: 55%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

main > div.features .screenshot > img
{
    width: 100%;
    max-height: initial;
    margin: 0;
}

main > div.features
{
    clear: both;
}

main > div.features > div > div
{
    width: calc(100% - 55% - 2em - 4em);
}

main > div.features > div > div > h3
{
    margin-top: 0;
}

@media (max-width: 768px)
{
    main > div.features
    {
        min-width: 100%;
        height: auto;
        padding: 1em;
    }

    main > div.features > div > div
    {
        width: auto;
    }

    main > div.features .screenshot
    {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 768px)
{
    main > div.features:nth-child(odd) > div > div
    {
        float: right;
        margin-left: 2em;
    }

    main > div.features:nth-child(even) > div > div
    {
        float: left;
        margin-right: 2em;
    }
}

@media (max-width: 500px)
{
    #cover-content
    {
        padding: 1em;
    }

    #cover-content .main-title
    {
        font-size: 1.5rem;
    }

    #cover-content p.download
    {
        font-size: 1.25em;
    }

    #cover-content p.download .button
    {
        font-size: inherit;
        min-width: 100px;
    }

    #cover-content .next
    {
        font-size: 1.5em;
    }
}

@media (max-width: 1131px) and (min-width: 500px)
{
    #cover
    {
        height: calc(100vh - 150px);
    }
}

/* CSS only lightboxes */
div.features p.screenshot a.close
{
    display: none;
}

div.features p.screenshot:target
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    width: auto;
}

div.features p.screenshot:target::before
{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

div.features p.screenshot:target a.close
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 2em;
}

div.features p.screenshot:target a.close .fa
{
    position: fixed;
    top: 1em;
    right: 1em;
    transition: transform 0.25s ease;
}

div.features p.screenshot:target a.close .fa:hover
{
    transform: rotate(90deg);
}

div.features p.screenshot:target a.close,
div.features p.screenshot:target a.close:visited,
div.features p.screenshot:target a.close:active
{
    text-decoration: none;
}

div.features p.screenshot:target img
{
    z-index: 300;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 90% !important;
}
